html, body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

/* .card-content{
  display: flex !important;
  flex-direction: column;
}

.card{
  height: 600px;
  width: 500px;
} */

.Home-avatar {
  width: 45%;
  height: auto;
}

.Home-logout{
  font-size: 1.5em;
  margin: -5px 10px 0px 10px;
  cursor:pointer;
}
